*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$openSans: 'Open Sans',
Helvetica,
Arial,
sans-serif;
body {
    background: #15181A;
    font-family: $openSans;
}

.skw-pages {
    overflow: hidden;
    position: relative;
    height: 100vh;
}

$skewDeg: 18deg;
$mdeg: -18deg;
$magicVH: 32.4vh; // this number is magic and depends on skew angle
$scrollTime: 1s;
.skw-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    &__half {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100vh;
        transition: transform $scrollTime;
        &--left {
            left: 0;
            transform: translate3d(-$magicVH, 100%, 0);
        }
        &--right {
            left: 50%;
            transform: translate3d($magicVH, -100%, 0);
        }
        .skw-page.active & {
            transform: translate3d(0, 0, 0);
        }
    }
    &__skewed {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 140%;
        height: 100%;
        transform: skewX($skewDeg * -1);
        background: #000;
        .skw-page__half--left & {
            left: -40%;
        }
        .skw-page__half--right & {
            right: -40%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 30%;
        color: #fff;
        transform: skewX($skewDeg);
        transition: transform $scrollTime, opacity $scrollTime;
        background-size: cover;
        .skw-page__half--left & {
            padding-left: 30%;
            padding-right: 30%;
            transform-origin: 100% 0;
        }
        .skw-page__half--right & {
            padding-left: 30%;
            padding-right: 30%;
            transform-origin: 0 100%;
        }
        .skw-page.inactive & {
            opacity: 0.5;
            transform: skewX($skewDeg) scale(0.95);
        }
    }
    &__heading {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
    }
    &__description {
        font-size: 18px;
        text-align: center;
    }
    &__link {
        color: #FFA0A0;
    }
    &-1 {
        .skw-page__half--left .skw-page__content {
            background-image: url('https://ibighit.com/txt/images/txt/profile/profile-kv.jpg');
        }
        .skw-page__half--right .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
    }
    &-2 {
        .skw-page__half--left .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
        .skw-page__half--right .skw-page__content {
            background-image: url('https://wallpapercave.com/wp/wp9401225.jpg');
        }
    }
    &-3 {
        .skw-page__half--left .skw-page__content {
            background-image: url('https://pbs.twimg.com/profile_banners/1059327333532749824/1630600747/1500x500');
        }
        .skw-page__half--right .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
    }
    &-4 {
        .skw-page__half--left .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
        .skw-page__half--right .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FGo53mMVgAITv4l?format=jpg&name=large');
        }
    }
    &-5 {
        .skw-page__half--left .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FKWPp9LaQAI5tji?format=jpg&name=large');
        }
        .skw-page__half--right .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
    }
    &-6 {
        .skw-page__half--left .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
        .skw-page__half--right .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FNKtIj8aAAAi2rX?format=jpg&name=large');
        }
    }
    &-7 {
        .skw-page__half--left .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FMXxciAakAMI8lh?format=jpg&name=large');
        }
        .skw-page__half--right .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
    }
    &-8 {
        .skw-page__half--left .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
        .skw-page__half--right .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FMXzJI3aMAMzp_k?format=jpg&name=large');
        }
    }
    &-9 {
        .skw-page__half--left .skw-page__content {
            background-image: url('https://pbs.twimg.com/media/FDwxvRtXsAAx8jV?format=jpg&name=medium');
        }
        .skw-page__half--right .skw-page__content {
            background: lighten(#1C1C1C, 5%);
        }
    }
}

@keyframes fade-in-slide {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 30px;
    }
}

.container-scroll {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    .pages {
        background-color: #292929;
        height: 100%;
        width: 100%;
        color: white;
        scroll-snap-align: center;
        .image-placement-1 {
            filter: brightness(70%);
            background-image: url('https://ibighit.com/txt/images/txt/profile/profile-kv.jpg');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-2 {
            filter: brightness(70%);
            background-image: url('https://wallpapercave.com/wp/wp9401225.jpg');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-3 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/profile_banners/1059327333532749824/1630600747/1500x500');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-4 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FGo53mMVgAITv4l?format=jpg&name=large');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-5 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FKWPp9LaQAI5tji?format=jpg&name=large');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-6 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FNKtIj8aAAAi2rX?format=jpg&name=large');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-7 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FMXxciAakAMI8lh?format=jpg&name=large');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-8 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FMXzJI3aMAMzp_k?format=jpg&name=large');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .image-placement-9 {
            filter: brightness(70%);
            background-image: url('https://pbs.twimg.com/media/FDwxvRtXsAAx8jV?format=jpg&name=medium');
            height: 50%;
            transform: skewy(190deg);
            overflow-y: hidden;
            background-attachment: fixed;
            background-position: top;
            background-repeat: no-repeat;
        }
        .description-mobile {
            margin-top: 150px;
            margin-left: 30px;
            margin-right: 30px;
        }
        .description-mobile-animation {
            animation: fade-in-slide 2s;
        }
    }
}