* {
    margin: 0;
    padding: 0;
}

.bg-blue-dark {
    background-color: #39315C;
}

.bg-blue-medium {
    background-color: #7E84C9;
}

.bg-blue-light {
    background-color: #E5EDFA;
}

.bg-white {
    background-color: white;
}

.fc-blue-dark {
    color: #39315C;
}

.fc-blue-medium {
    color: #7E84C9;
}

.fc-blue-light {
    color: #E5EDFA;
}

.fc-white {
    color: white;
}

//scroll
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #11171a;
    border-radius: 10px;
}

.btn-send {
    background-color: #39315C;
    color: white;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 500;
    &:hover {
        background-color: #E5EDFA;
        font-weight: 700;
        color: #39315C !important;
    }
}

//sender page
body {
    background-image: url('../images/background.png');
    background-size: cover;
    overflow-y: hidden;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.form-sender {
    animation: fade-in 1s linear alternate;
    .card {
        width: 600px;
        min-height: 400px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .heading {
            margin-top: 50px;
            text-align: center;
            font-weight: 700;
            font-size: large;
        }
        .form-input {
            margin: 50px;
            .form-control {
                border-radius: 10px;
            }
        }
    }
    @media (max-width: 500px) {
        .card {
            width: auto;
            margin-left: 20px;
            margin-right: 20px;
            min-height: 400px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            .heading {
                margin-top: 50px;
                text-align: center;
                font-weight: 700;
                font-size: large;
                margin-left: 20px;
                margin-right: 20px;
            }
            .form-input {
                margin: 20px;
                .form-control {
                    border-radius: 10px;
                }
            }
        }
    }
}

.success {
    .card {
        width: 600px;
        min-height: 400px;
        margin: 0;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .heading {
            margin-top: 50px;
            text-align: center;
            font-weight: 700;
            font-size: 25px;
        }
        .description {
            font-size: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    @media (max-width: 500px) {
        .card {
            width: auto;
            margin-left: 20px;
            margin-right: 20px;
            min-height: 400px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            .heading {
                margin-top: 50px;
                text-align: center;
                font-weight: 700;
                font-size: 25px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .description {
                font-size: 18px;
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
}

//aprilia page
.twitter-card {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    .control-back {
        .txt-control {
            font-size: 17px;
            font-weight: 500;
            color: white;
        }
    }
    .card {
        border-radius: 15px;
        min-height: 100px;
        width: 700px;
        background-color: rgba(255, 255, 255, 0.123);
        color: white;
        .head-card {
            margin-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
            .profile {
                width: 50px;
                height: 50px;
            }
            .twitter {
                margin-top: 2px;
                width: 35px;
                height: 35px;
            }
            p {
                margin-top: 10px;
                margin-left: 15px;
                font-weight: 700;
            }
        }
        .text-sender {
            margin-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
        }
        .time-stamp {
            margin-top: 15px;
            margin-left: 25px;
            margin-right: 25px;
            font-weight: 100;
            font-size: 12px;
        }
        .twit-stats {
            margin-top: -10px;
            margin-left: 25px;
            margin-right: 25px;
            p {
                font-size: 12px;
            }
        }
    }
    @media (max-width: 500px) {
        .card {
            border-radius: 15px;
            min-height: 100px;
            width: 400px;
            .head-card {
                margin-top: 20px;
                margin-left: 25px;
                margin-right: 25px;
                .profile {
                    width: 50px;
                    height: 50px;
                }
                .twitter {
                    margin-top: 2px;
                    width: 35px;
                    height: 35px;
                }
                p {
                    margin-top: 10px;
                    margin-left: 15px;
                    font-weight: 700;
                }
            }
            .text-sender {
                margin-top: 20px;
                margin-left: 25px;
                margin-right: 25px;
            }
            .time-stamp {
                margin-top: 15px;
                margin-left: 25px;
                margin-right: 25px;
                font-weight: 100;
                font-size: 12px;
            }
            .twit-stats {
                margin-top: -10px;
                margin-left: 25px;
                margin-right: 25px;
                p {
                    font-size: 12px;
                }
            }
        }
    }
    @media (max-width: 375px) {
        .card {
            border-radius: 15px;
            min-height: 100px;
            width: 350px;
            .head-card {
                margin-top: 20px;
                margin-left: 25px;
                margin-right: 25px;
                .profile {
                    width: 50px;
                    height: 50px;
                }
                .twitter {
                    margin-top: 5px;
                    width: 30px;
                    height: 30px;
                }
                p {
                    margin-top: 10px;
                    margin-left: 15px;
                    font-weight: 700;
                }
            }
            .text-sender {
                margin-top: 20px;
                margin-left: 25px;
                margin-right: 25px;
                font-size: 15px;
            }
            .time-stamp {
                margin-top: 15px;
                margin-left: 25px;
                margin-right: 25px;
                font-weight: 100;
                font-size: 12px;
            }
            .twit-stats {
                margin-top: -10px;
                margin-left: 25px;
                margin-right: 25px;
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

.twit-timeline {
    width: 100%;
    min-height: 2000px;
    padding-bottom: 15px;
    color: white !important;
    .timeline-heading {
        background-color: rgba(57, 49, 92, 0.87) !important;
    }
    .write-post {
        img {
            width: 40px;
            height: 40px;
        }
        textarea {
            width: 100%;
            border: none;
            background-color: #39315C;
            outline: none;
        }
    }
    .twitter {
        width: 35px;
        height: 35px;
    }
    @media (max-width: 500px) {
        .twitter {
            width: 35px;
            height: 35px;
        }
    }
    .command {
        .btn-tweet {
            background-color: #7E84C9;
            color: white;
            border-radius: 50px;
            width: 150px;
            &:hover {
                background-color: #E5EDFA;
                color: #39315C;
            }
        }
    }
    .timeline-body {
        .head-card {
            margin-top: 20px;
            .profile {
                width: 50px;
            }
            p {
                margin-top: 10px;
                margin-left: 15px;
                font-weight: 700;
            }
        }
        .text-sender {
            margin-top: 20px;
        }
        @media (max-width:375px) {
            font-size: 15px;
        }
        .time-stamp {
            margin-top: 15px;
            font-weight: 100;
            font-size: 12px;
        }
        .twit-stats {
            margin-top: -10px;
            p {
                font-size: 12px;
            }
        }
        .btn-tweet {
            background-color: #7E84C9;
            color: white;
            border-radius: 50px;
            width: 150px;
            &:hover {
                background-color: #E5EDFA;
                color: #39315C;
            }
        }
    }
}

.side-menu {
    min-height: 900px;
    .list-group {
        background-color: none;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        .list-group-item {
            margin-left: -20px;
            font-weight: 500;
            border: none;
            font-size: 17px;
            background-color: #39315C !important;
            color: white !important;
        }
    }
    .twitter {
        width: 35px;
        height: 35px;
    }
    @media (max-width: 500px) {
        .twitter {
            width: 20px;
            height: 20px;
        }
    }
    .profile-bar {
        margin-top: 270px;
        font-size: 15px;
    }
    @media (max-width: 1400px) {
        .profile-bar {
            margin-top: 200px;
            font-size: 15px;
        }
    }
}

.highlight-tweets {
    width: 100%;
    height: 800px;
    .input-search {
        input {
            background-color: #39315C;
            color: white;
        }
    }
    .highlighted {
        .card-tweets {
            background-color: #645897;
            max-height: 400px;
            border-radius: 15px;
            overflow-y: scroll;
            padding-bottom: 20px;
            .tweet {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                text-decoration: none;
                background-color: #e5edfa8c;
                color: #39315C;
                height: auto;
                margin-top: 10px;
                margin-left: 20px;
                margin-right: 20px;
                border-radius: 15px;
                transition-duration: 0.2s;
                img {
                    width: 40px;
                    height: 40px;
                }
                p {
                    font-size: 12px;
                    margin-left: 15px;
                    font-weight: 700;
                }
                &:hover {
                    background-color: #E5EDFA;
                    transition-duration: 0.2s;
                }
            }
        }
        .card-trends {
            background-color: #645897;
            max-height: 300px;
            border-radius: 15px;
            overflow-y: scroll;
            padding-bottom: 20px;
            .tweet {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                text-decoration: none;
                background-color: #e5edfa8c;
                color: #39315C;
                height: auto;
                margin-top: 10px;
                margin-left: 20px;
                margin-right: 20px;
                border-radius: 15px;
                transition-duration: 0.2s;
                img {
                    width: 40px;
                    height: 40px;
                }
                p {
                    font-size: 12px;
                    margin-left: 15px;
                    font-weight: 700;
                }
                &:hover {
                    background-color: #E5EDFA;
                    transition-duration: 0.2s;
                }
            }
        }
    }
}