* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFBFC;
    font-family: 'Noto Sans KR', sans-serif;
}

.fc-black {
    color: rgb(34, 34, 34);
}

.fc-green {
    color: #0adbb8;
}

.fc-gray {
    color: #ADB1B8;
}

.button-split {
    margin-top: 10px;
}

.verified {
    margin-top: -5px;
}

.comment-txt {
    background-color: #ecfaff;
    width: max-content;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8px;
    padding-right: 15px;
}

.comment-moa {
    width: max-content;
    background-color: #f5f7fa;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8px;
    padding-right: 15px;
}

.stats {
    margin-top: -30px;
}

.navbar {
    background-color: white !important;
    height: 75px;
}

.btn-readmore {
    background-color: white !important;
    color: #0adbb8 !important;
    border-color: #0adbb8 !important;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    width: 182px;
}

@media (max-width: 375px) {
    .comment-txt {
        background-color: #ecfaff;
        width: max-content;
        margin-left: 10px;
        font-size: 10px !important;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 8px;
        padding-right: 15px;
    }
    .comment-moa {
        width: max-content;
        background-color: #f5f7fa;
        margin-left: 10px;
        font-size: 10px !important;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 8px;
        padding-right: 15px;
    }
    .stats {
        margin-top: -30px;
        p {
            font-size: 10px !important;
        }
    }
}

.content-weverse {
    margin-top: 120px;
    .left-menu {
        margin-left: 10px;
        margin-top: -120px;
        padding-top: 120px;
        h2 {
            font-size: 30px;
        }
        p {
            font-weight: 500;
            color: rgb(97, 97, 97);
        }
        .list-group {
            .list-group-item {
                border: none;
                padding-left: -10px;
                margin-left: -5px;
                background-color: #FAFBFC;
                color: rgb(37, 37, 37);
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    .middle-menu {
        .write-section {
            .card {
                border-radius: 10px;
                textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 13px;
                }
                .btn-post {
                    background-color: #5ad8c3;
                    color: white;
                    font-size: 14px;
                    width: 60px;
                    border-radius: 50px;
                    &:hover {
                        color: white;
                        background-color: #0adbb8;
                    }
                }
            }
        }
        .weverse-post {
            .card {
                border-radius: 10px;
                p {
                    font-size: 12px;
                }
                .comment-section {
                    .card-comment {
                        width: 100%;
                        border-radius: 20px;
                        background-color: rgb(238, 238, 238) !important;
                        input {
                            margin-left: 10px;
                            color: white;
                             ::placeholder {
                                color: white !important;
                            }
                            background-color: rgb(238, 238, 238) !important;
                            border: none;
                            outline: none !important;
                            outline-style: none;
                            outline-color: none;
                        }
                    }
                }
            }
        }
    }
    .right-menu {
        margin-top: -120px;
        padding-top: 120px;
    }
}